@import './variables.css';

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  width: min(100% - 3rem, 400px);

  background-color: #fff;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  z-index: 1000;
  overflow-y: auto;

  transition: transform 0.3s ease;
  transform: translateX(100%);
}

.wrapper.mostrar {
  transform: translateX(0);
}

.contenido {
  padding: 20px;
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.cerrar svg {
  width: 100%;
}

.titulo {
  margin-bottom: 10px;
  font-size: 20px;
}

.lista {
  list-style: none;
  padding: 0;
}

.item {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.nombre {
  font-weight: bold;
}

.cantidadPrecio {
  font-size: 14px;
  color: #888;
}

.productoCarrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--color-secundario);
  gap: 0.5rem;
}

.detallesProducto {
  display: grid;
  grid-template-columns: 40% auto;
  align-items: center;
  margin-right: 10px;
}

.detallesProducto img {
  max-width: 80%;
  height: auto;
}

.detallesProducto h6 {
  font-size: 0.75rem;
  margin: 0;
}

.productoCarritoAcciones {
  display: flex;
  align-items: space-around;
  gap: 1rem;
  flex-direction: column;
}

.productoCarritoAcciones span {
  font-size: 1.2rem;
}

.botonEliminar,
.botonVaciar {
  background-color: #ff0000;

  color: #fff;
  border: none;

  padding: 0.5rem 1rem;

  cursor: pointer;
}

.botonEliminar:hover,
.botonVaciar:hover {
  background-color: #d70000;
}

.escondido {
  opacity: 0;
}

.limpiarCarrito {
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 1.2rem;
}

.iconoSvg {
  width: 1.5rem;
}

.cantidadAcciones {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.svg {
  cursor: pointer;
}

.svg.noPermitido {
  cursor: not-allowed;
  opacity: 0.3;
}

.nombreCantidad {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.botonIr {
  background-color: var(--color-primario);

  transition: 0.3s ease-in;
}

.botonIr:hover {
  background-color: var(--color-secundario);
}

.acciones {
  display: flex;
  justify-content: space-around;

  margin-top: 2rem;

  transition: 0.3s ease-in;
}

.pasarelaPago {
  padding: 20px;
}

.contenido {
  margin-bottom: 20px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.total h3 {
  margin: 0;
}

.total p {
  font-weight: bold;
}

.comprar {
  display: flex;
  justify-items: center;

  margin-top: 2rem;
}

.botonComprar {
  padding: 1rem;
  margin-inline: auto;
}
