@import './variables.css';

.wrapper {
  position: sticky;

  width: 100%;

  box-shadow: var(--color-primario) 0px 20px 30px -20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  opacity: 0.8;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 70%;

  margin-inline: auto;
}

.logo {
  max-width: 45px;
}

.titulo {
  color: var(--texto);
  font-size: 1.25rem;
}

.logoTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
