@import './variables.css';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: var(--header-altura);

  box-shadow: var(--color-primario) 0px 20px 30px -20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f3f3f3;

  opacity: 0.9;

  z-index: 999;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 70%;

  margin-inline: auto;
}

.logo {
  max-width: 45px;
}

.titulo {
  background: -webkit-linear-gradient(45deg, var(--color-primario), var(--color-secundario));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: bold;
  font-size: 1.25rem;
}

.logoTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
