@import './variables.css';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 100%;
}

.logo {
  max-width: 250px;
}

.titulo {
  font-size: 2rem;
  font-weight: 600;
  background: -webkit-linear-gradient(45deg, var(--color-primario), var(--color-secundario));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitulo {
  color: #c3c3c3;
  font-size: 1.25rem;
  font-weight: 500;
}
