@import './variables.css';

html {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

body {
  display: flex;

  color: var(--texto);

  min-height: 100vh;

  margin: 0;

  background-color: #f9fafb;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: min(100% - 3rem, 1500px);
  min-height: 80vh;

  margin-inline: auto;
  margin-block: 3rem;
}

#root {
  display: grid;
  grid-template-rows: repeat(2, auto);

  min-width: 100vw;

  margin-top: 3rem;
}

img {
  max-width: 100%;

  object-fit: contain;
}

a {
  text-decoration: none;

  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
