@import './variables.css';

.wrapper {
  display: grid;
  grid-template-rows: 50% 50%;
  justify-items: center;
  align-content: space-between;

  min-height: 350px;
  min-width: 300px;

  background-color: #fff;

  padding: 0.5rem;

  border: 2px solid var(--color-secundario);
  border-radius: 0.5rem;

  transition: all 0.2s ease-in-out;
}

.wrapper:hover {
  border: 2px solid var(--color-primario);

  box-shadow: var(--color-primario) 0px 5px 15px;

  cursor: pointer;

  transform: translateY(-5px);
}

.imagen {
  display: flex;
  place-content: center;

  height: 100%;
}

.imagen img {
  max-width: 50%;
}

.nombre {
  align-self: center;

  margin-bottom: 2rem;
}

.infoProducto {
  display: flex;
  flex-direction: column;

  justify-content: space-around;

  width: 80%;

  padding: 0.5rem;
}

.botonCarrito {
  background-color: transparent;
  border: 1px solid var(--color-secundario);

  transition: 0.3s ease-in-out;
}

.botonCarrito.desactivado {
  opacity: 0.3;
}

.botonCarrito svg {
  width: 24px;

  transition: 0.2s ease-in;
}

.botonCarrito:not(.desactivado):hover {
  border-color: transparent;

  background-color: var(--color-secundario);
}

.botonCarrito:not(.desactivado):hover > svg {
  transform: rotate(-10deg);
}

.precioCarrito {
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 100%;
}
